@page "/StatusCode/404"
@rendermode InteractiveServer

<div class="page">

    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h1 class="text-danger">Oops, error 404.</h1>
                    <div class="alert alert-danger" role="alert">
                      Te perdiste bebe??
                        
                    </div>

                    
                </div>

                <div class="col-4">
                    <img src="https://previews.123rf.com/images/morphart/morphart1910/morphart191018535/132761531-panda-confundido-ilustraci%C3%B3n-vector-sobre-fondo-blanco.jpg" class="img-fluid" alt="...">
                </div>

                <div class="col-4">
                </div>
            </div>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    Se ha producido un error no controlado
    <a href="" class="reload">Recargar Pagina</a>
    <a class="dismiss">🗙</a>
</div>
